body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    font-size: 1.2em;
    padding: 10px;
    margin: 5px;
}

#progressContainer {
    width: 80%;
    height: 20px;
    background-color: lightgray;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

#progressBar {
    height: 100%;
    width: 100%;
    background-color: red;
    transition: width 1s linear;
}

.wordBox {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    margin: 5px;
}

.wordBox.filled {
    background-color: green;
}
